<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818835282138-8h3qf505eco222l28feg0o1t3tvu0v8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818835282138-8h3qf505eco222l28feg0o1t3tvu0v8g</string>
	<key>API_KEY</key>
	<string>AIzaSyDummy_API_Key_For_iOS_Config</string>
	<key>GCM_SENDER_ID</key>
	<string>818835282138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymManagement</string>
	<key>PROJECT_ID</key>
	<string>gym-management-oauth</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-management-oauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818835282138:ios:abc123def456ghi789jkl012</string>
</dict>
</plist>